<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.repository.NoticeMapper">
    <insert id="insertNotice" parameterType="com.example.demo.domain.NoticeVO" useGeneratedKeys="true" keyProperty="idx">
        INSERT	INTO
        BOARD	(TITLE, CONTENT, WRITER, BOARD_PASS, REG_DATE)
        VALUES	(#{title}, #{content}, #{writer}, #{board_pass}, now())
        
    </insert>

    <select id="getNoticeList" resultType="com.example.demo.domain.NoticeVO">
        SELECT
            *
        FROM BOARD
        WHERE
        	B_REMV_FLAG = 'N'
    </select>

    <select id="getNotice" parameterType="int" resultType="com.example.demo.domain.NoticeVO">
        SELECT
            *
        FROM BOARD
        WHERE
            BoardNum = #{boardNum}
    </select>


    <update id="updateNotice" parameterType="com.example.demo.domain.NoticeVO">
        UPDATE	BOARD
        SET
        <if test="title != null">
            Title = #{title}
        </if>
        <if test="title != null and content != null">  </if>,
        <if test="content != null">
            CONTENT = #{content}
        </if>
        WHERE	BoardNum = #{boardNum}
    </update>

    <delete id="deleteNotice" parameterType="int">
    	UPDATE	BOARD
    	SET 	B_REMV_FLAG = 'Y'
    	WHERE	BoardNum = #{boardNum}
    </delete>

	<insert id="insertFile" parameterType="com.example.demo.domain.FileVO">
	    INSERT	INTO
	    FILES	(FILENUM, BOARDNUM, FILEPATH)
	    VALUES	(#fileNum, #{boardNum}, #{filePath})
	</insert>
	
	<select id="getfile" parameterType="int" resultType="com.example.demo.domain.FileVO">
	    SELECT
	        *
	    FROM FILES
	    WHERE
	        FILENUM = #{fileNum}
	</select>
</mapper>